<button
    hx-get="command:plex_signout"
    hx-trigger="click"
    hx-target="this"
    hx-swap="outerHTML"
>
    Plex Logout
</button>
<div
    id="plex-server"
    hx-get="command:plex_server"
    hx-trigger="load, update-settings from:body"
    hx-target="#plex-server"
    hx-swap="innerHTML"
>
    Loading plex server
</div>
<div
    id="plex-library"
    hx-get="command:plex_library"
    hx-trigger="load, update-settings from:body"
    hx-target="#plex-library"
    hx-swap="innerHTML"
>
    Loading plex library
</div>
