<div id="tab-content" role="tabpanel" class="tab-content">
    Home: Commodo normcore truffaut VHS duis gluten-free keffiyeh iPhone
    taxidermy godard ramps anim pour-over. Pitchfork vegan mollit umami quinoa
    aute aliquip kinfolk eiusmod live-edge cardigan ipsum locavore. Polaroid
    duis occaecat narwhal small batch food truck. PBR&B venmo shaman small batch
    you probably haven't heard of them hot chicken readymade. Enim tousled
    cliche woke, typewriter single-origin coffee hella culpa. Art party
    readymade 90's, asymmetrical hell of fingerstache ipsum.
</div>

<div class="tab-list" role="tablist">
    <button
        class="selected"
        role="tab"
        aria-selected="true"
        aria-controls="tab-content"
        onclick="tabButton()"
    >
        Home
    </button>
    <button
        hx-get="command:library"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
        onclick="tabButton()"
    >
        Library
    </button>
    <button
        hx-get="command:settings"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
        onclick="tabButton()"
    >
        Settings
    </button>
</div>
