<div id="tab-content" role="tabpanel" class="tab-content">
    <div class="library">
        <div
            id="library-paginated"
            hx-post="command:library_pagination"
            hx-trigger="intersect"
            hx-target="#library-paginated"
            hx-vals='{"current": 0}'
            hx-params="current"
            hx-swap="outerHTML"
        >
            Loading...
        </div>
    </div>
</div>

<div class="tab-list" role="tablist">
    <button
        hx-get="command:home"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
        onclick="tabButton()"
    >
        Home
    </button>
    <button
        class="selected"
        role="tab"
        aria-selected="true"
        aria-controls="tab-content"
        onclick="tabButton()"
    >
        Library
    </button>
    <button
        hx-get="command:settings"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
        onclick="tabButton()"
    >
        Settings
    </button>
</div>
