<div id="tab-content" role="tabpanel" class="tab-content">
    <div class="library">
        {% for book in books.iter().take(50) %}
        <div class="library-item">
            <book-card
                thumb="{{ book.thumb.clone().unwrap_or("".into()) }}"
                title="{{ book.title }}"
                author="{{ book.parent_title }}"
            ></book-card>
        </div>
        {% endfor %}

        <!-- Some form of paginiation -->
    </div>
</div>

<div class="tab-list" role="tablist">
    <button
        hx-get="command:home"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
    >
        Home
    </button>
    <button
        hx-get="command:library"
        class="selected"
        role="tab"
        aria-selected="true"
        aria-controls="tab-content"
    >
        Library
    </button>
    <button
        hx-get="command:settings"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
    >
        Settings
    </button>
</div>
