<div id="tab-content" role="tabpanel" class="tab-content">
    <div
        id="settings-state"
        hx-get="command:settings_state"
        hx-trigger="load, update-settings from:body"
        hx-target="#settings-state"
        hx-swap="innerHTML"
    >
        Loading settings
    </div>
</div>

<div class="tab-list" role="tablist">
    <button
        hx-get="command:home"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
    >
        Home
    </button>
    <button
        hx-get="command:library"
        role="tab"
        aria-selected="false"
        aria-controls="tab-content"
    >
        Library
    </button>
    <button
        hx-get="command:settings"
        class="selected"
        role="tab"
        aria-selected="true"
        aria-controls="tab-content"
    >
        Settings
    </button>
</div>
